
@{
    ViewBag.Title = "New Feeding";
}

@{ 
    if (!PageData["loggedIn"])
    {
        Response.Redirect(Url.Action("Login", "User"));
    }
}

<style type='text/css'>
    #info {
        display: block;
        position: relative;
        margin: 0px auto;
        width: 50%;
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        text-align: center;
        color: #222;
        background: #fff;
    }

    #map {
        height: 300px;
        width: 100%;
    }
</style>

<div class="container body-content">
    <h2>Report a New Feeding</h2>

    
    <pre id='info'></pre>
    <script>
        jQuery(document).ready(function () {
            mapboxgl.accessToken = 'pk.eyJ1Ijoic2lsZW50cGluZXdhdmVzIiwiYSI6ImNqdGY3NHM1dDBmZ3gzeW1wd2JvczJtMWkifQ.R6qsGvqA0GEKvBBdbKLrsw';
            var map = new mapboxgl.Map({
                container: 'map', // container id
                style: 'mapbox://styles/mapbox/streets-v9',
                height:400,
                center: [-123, 48], // starting position
                zoom: 5 // starting zoom
            });

            map.on('click', function (e) {
                
                jQuery("#location").val(JSON.stringify(e.lngLat));
            });
        })
    </script>

    <form id="login-form">
        <div class="form-group">
            <label for="location">Where were the ducks fed?</label>
            <input type="text" class="form-control" id="location" placeholder="Location Coordinates" required>
            <br />
            <small id="locationHelp" class="form-text text-muted">Click on the map location near the park where you fed the ducks.</small>
            <div id='map'></div>


        </div>
        <div class="form-group">
            <label for="feedTime">What time were the ducks fed?</label>
            <input type="datetime-local" class="form-control" id="feedTime" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label for="feedType">What food were the ducks fed?</label>
            <select class="form-control" id="feedType">
                <option value="Grapes">Grapes</option>
                <option value="Cracked Corn">Cracked Corn</option>
                <option value="Barley">Barley</option>
                <option value="Nuts">Nuts</option>
                <option value="Berries">Berries</option>
                <option value="Oats">Oats</option>
                <option value="Duck Feed">Duck Feed</option>
                <option value="Bread">Bread</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="numberFed">How many ducks were fed?</label>
            <input type="text" class="form-control" id="numberFed" placeholder="# of ducks fed" required>
        </div>
        <div class="form-group">
            <label for="gramsFed">How much food were the ducks fed?</label>
            <input type="text" class="form-control" id="gramsFed" placeholder="Grams (g)" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form><br />

</div>

@section ViewsJS
{
    <script type="text/javascript" src="@Url.Content("/Scripts/js/newFeeding.js")"></script>
}