
@{
    ViewBag.Title = "Login";
}

<div class="container body-content">
    <h2>Login to your Quack Account</h2>
    <form id="login-form">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">The email addressed you registered with.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Your password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form><br />
    <p>Need an account? <a href="/User/Register">Register</a> a new Quack account.</p>
</div>

@section ViewsJS
{
    <script type="text/javascript" src="@Url.Content("/Scripts/js/login.js")"></script>
}